source https://www.nuget.org/api/v2
redirects on
framework net462
generate_load_scripts: true


nuget FAKE

nuget FSharp.Core

nuget Gjallarhorn
nuget Gjallarhorn.Bindable
nuget Gjallarhorn.Bindable.Wpf


# nuget Expression.Blend.Sdk
# nuget FsXaml.Wpf 3.1.2
