source https://www.nuget.org/api/v2
redirects on
framework net462

nuget FSharp.Core ~> 4.0.0.1

group Build
	source https://www.nuget.org/api/v2
	nuget FAKE
	
group Samples
	source https://www.nuget.org/api/v2
	redirects on
	framework net462
	nuget Gjallarhorn >= 1 alpha beta rc prerelease
	nuget Gjallarhorn.Bindable >= 1 alpha beta rc prerelease
	nuget Gjallarhorn.Bindable.Wpf >= 1 alpha beta rc prerelease

	nuget FsXaml.Wpf

	nuget Serilog
	nuget Serilog.Sinks.ColoredConsole

